<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Hello {{ email}},</p>
    <p>You have requested to reset your password. Please click on the link below to reset it:</p>
    <p><a href="http://localhost:8080/password-reset-confirm/{{user_id}}/{{token}}/">Reset Password</a></p>
    <p>If you didn't request a password reset, you can safely ignore this email.</p>
</body>
</html>